<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css'%}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        {#can use for icons#}
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-32x32.png'%}">
        <title>CodeTube</title>
    </head>
    <body>

        {#this is how you add icons#}
        {#full list of icons https://fonts.google.com/icons#}
        {#<i id="smart_display" class="material-icons">smart_display</i>#}

        {#Header Starts#}
        <div class="header">
            <div class="header__left">
                <i id="menu" class="material-icons"  onclick="toggleSidebar()">menu</i>
                <a href="/">
                    <img src="..\static\img\codetubelogo.png" alt="codetube logo"/> 
                </a>
            </div>

            <div class="header__search">
                <form action="/results/" method="POST">
                    {% csrf_token %}
                    <input type="search" name="term" placeholder="Search" />
                    <button type="submit"><i class="material-icons d-flex justify-content-between align-items-center">search</i></button>
                </form>
                <i data-toggle="tooltip" title="Search with your voice" class="material-icons microphone">mic</i>
            </div>

            <div class="header__icons">
                {% if user.id != null %}
                    <a data-toggle="tooltip" title="Add Video" class="nav-link" href="/new_video"><i class="material-icons">video_call</i></a>
                {% else %}
                    <a data-toggle="tooltip" title="Sign In" class="nav-link" href="/login_reg"><i class="material-icons">video_call</i></a>
                {% endif %}
                <a data-toggle="tooltip" title="Project Info" href="https://github.com/joshuabecker91/codetube"><i class="material-icons">hub</i></a>
                {% if user.id != null %}
                    <a data-toggle="tooltip" title="Logout" class="nav-link" href="/logout"><i class="material-icons display-this">account_circle</i></a>
                {% else %}
                    <a class="sign__in" href="/login_reg">Sign In</a>
                {% endif %}
            </div>
        </div>
        {#Header Ends#}

        {#Main Body Starts#}
        <div class="mainBody">
            {#Sidebar Starts#}
            <div class="sidebar" id="sidebar">
                <div class="sidebar__categories">
                    <div class="sidebar__category">
                        <i class="material-icons">home</i>
                        <a class="sidebar__link" href="/">Home</a>
                    </div>
                    <div class="sidebar__category">
                        <i class="material-icons">play_arrow</i>
                        <a class="sidebar__link" href="/dashboard">Your Videos</a>
                    </div>
                    <hr />
                    {#url to index with filter to show only liked videos#}
                    <div class="sidebar__category">
                        <i class="material-icons">thumb_up</i>
                        <a class="sidebar__link" href="/user_liked">Liked Videos</a>
                    </div>
                    {#url to index with filter to show videos with 10+ likes#}
                    <div class="sidebar__category">
                        <i class="material-icons">local_fire_department</i>
                        <a class="sidebar__link" href="/popular_videos">Popular Videos</a>
                    </div>
                </div>
                <hr />
            </div>
            {#Sidebar Ends#}

            {#Video Section#}
            <div class="videos__container">
                {% for video in all_videos %}
                    <div class="video">
                        <div class="video__thumbnail">
                            <a href="/play/{{video.id}}"><img src="{{ video.thumbnail }}" alt="" /></a>
                        </div>
                        <div class="video__details">
                            {#removed author div, will not have a profile logo for user#}
                            {#temporarily have p tag with id for testing#}
                            <!-- <p>id {{ video.id }}</p> -->
                            <div class="title">
                                <a href="/play/{{video.id}}"><h3>{{ video.title }}</h3></a>
                                <h3>{{ video.user.first_name }} {{ video.user.last_name }}</h3>
                                <span>{{video.likes}} likes • {{ video.views }} views</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {#Video Section Ends#}

            <!-- {#testing code#}
            <div>
                <p>Test Code</p>
                <p>{{request.session.user_id}}</p>
                <p>{{user.id}}</p>
                <p>{{user.first_name}}</p>
                <p>{{user.last_name}}</p>
                <p>{{user.email}}</p>
            </div> -->

        </div>
        {#Main Body Ends#}

        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>